@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  cursor: pointer;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.6;
}

h2 {
  text-transform: uppercase;
  color: #795aa5;
  font-size: 20px;
}

.nav {
  position: fixed;
  width: 100%;
  background-color: white;
}

.flex--nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo--nav {
  width: 80px;
  margin-right: 70px;
}

.menu li {
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  color: #795aa5;
}

.menu--dropdown {
  display: none;
  position: absolute;
}

.menu li:hover .menu--dropdown {
  display: block;
  padding: 10px 0;
}

.menu--dropdown li {
  padding: 5px 0;
}

.banner {
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 80vh;
  height: 600px;
  background-attachment: fixed;
  background-position: center;
}

h1 {
  font-size: 30px;
  text-align: center;
  color: #795aa5;
  padding: 3%;
  text-transform: uppercase;
}

.sobre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 50px;
}

.sobre img {
  width: 50%;
}

.sobre p {
  padding-left: 30px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards img {
  width: 100%;
}

.celebration-day {
  -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  margin-top: 60px;
  text-align: center;
  width: 60%;
  margin: 8% auto;
}

.celebration-day tr {
  font-family: PTSans;
  font-size: 16px;
  height: 33px;
}

.flex--footer {
  background-color: #1d1819;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #d4d1d1;
  padding: 20px;
}

.andress {
  margin-right: 5%;
  font-size: 13px;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.rede--sociais {
  padding: 20px;
}

.developer {
  text-align: center;
  background-color: #312f2f;
  padding: 10px;
  color: #c4c0c0;
  font-size: 12px;
}

.developer p {
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=style.css.map */