h2{
  text-align: center;
  text-transform: uppercase;
  color:#795aa5;
  font-size: 30px;
}

table{
  background-color: #efd079;
  text-align: center;
  width: 50%;
  margin: auto;
  border-radius: 4px;
  font-weight: bold;


}

tr{
  height: 40px;
}
