.line{
  border-top: 1px solid black;
  width: 93px;
  margin-top: 10px;
  margin-right: 5px;

}

h1{
  font-size: $fonte-titulo-principal;
  text-align: center;
  color:#795aa5;
  padding: 3%;
  text-transform: uppercase;
}

