
h1{
  font-size: $fonte-titulo-principal;
  text-align: center;
  color:#795aa5;
  padding: 3%;
  text-transform: uppercase;
}

.sobre{
  @include flex(center, center);
  padding-bottom: 50px;

  & img{
    width: 50%;
  } & p{
    padding-left: 30px;
  }
} 



.cards{
  @include flex(center, center);

  & img{
    width: 100%;
  }
} 
